.App {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.header {
  padding: 1rem;
  grid-column: 1 / 4;
}

.pad-container {
  width: 20vw;
  padding: 2rem;
  grid-column: 1 / 2;
}

.main-container {
  list-style: none;
  display: flex;
  padding: 10px;
  width: 130px;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

